.ms-popup {
  position: fixed;
  z-index: 99;
  display: none;
  width: auto;
  height: auto;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
  opacity: 0;
}
.ms-popup.top {
  top: 10px;
}
.ms-popup.bottom {
  bottom: 10px;
}
.ms-popup.left {
  left: 10px;
}
.ms-popup.right {
  right: 10px;
}
.ms-popup.active {
  opacity: 1;
}
.ms-popup .ms-popup-close {
  top: 13px;
  right: 13px;
  width: 23px;
  height: 23px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-image: url(/bitrix/components/hmarketing.d7/popup.baner/templates/.default/img/popup-close.svg);
}
.ms-popup img {
  border-radius: 6px;
}
.ms-popup .ms-popup-phone {
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 0.5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  position: absolute;
  bottom: 13px;
  right: 13px;
}
.ms-popup .ms-popup-phone:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.ms-popup .ms-popup-phone:active {
  background: white;
}
